<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--注册操作对应Entity的Mapper类-->
<mapper namespace="io.github.zhidao.ms.um.mapper.PositionMapper">

	<!-- Entity类的ResultMap -->
	<resultMap type="io.github.zhidao.ms.um.entity.Position" id="positionResultMap">
		<result property="id" column="id"/>
		<result property="positionId" column="position_id"/>
		<result property="positionName" column="position_name"/>
		<result property="parentPositionId" column="parent_position_id"/>
		<result property="companyId" column="company_id"/>
		<result property="createUser" column="create_user"/>
		<result property="createTime" column="create_time"/>
		<result property="updateUser" column="update_user"/>
		<result property="updateTime" column="update_time"/>
		<result property="valid" column="valid"/>
		<result property="deleted" column="deleted"/>
	</resultMap>

	<!--高频sql子语句，全部列的sql段-->
	<sql id="positionColSql">
		id,
		position_id,
		position_name,
		parent_position_id,
		company_id,
		create_user,
		create_time,
		update_user,
		update_time,
		valid,
		deleted
	</sql>
	
	<!--Add your code here-->



</mapper>