package ${package}.${moduleName}.mapper;

import ${package}.${moduleName}.entity.${className};

import org.springframework.stereotype.Repository;

import tk.mybatis.mapper.common.Mapper;

/**
 * ${comments}Mapper接口
 *
 * @author ${author} ${datetime}
 * @version 1.0
 */
@Repository
public interface ${className}Mapper extends Mapper<${className}> {

    /****************** 自定义Mapper方法 ********************/




}
